@model team8.Models.Order

@{
    ViewData["Title"] = "Orders";
}

<h2>Orders</h2>
<hr />
<div class="row">
    <div class="col-md-6">

        <hr />
        <form asp-action="CustomerOrders">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h4>Order Status</h4>

            <input type="hidden" asp-for="CustomerID" />

            <div class="form-group">
                <select asp-for="orderType" name="orderType">
                    <option>- Please select status -</option>
                    <option value="A">All Orders</option>
                    <option value="'Pending'">Pending</option>
                    <option value="'Received'">Received</option>
                    <option value="'Processed'">Processed</option>
                    <option value="'Completed'">Completed</option>
                    <option value="'Shipped'">Shipped</option>
                    <option value="'Closed Out'">Closed Out</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>

    </div>
    <hr />
</div>

<div>
    @if (Model._lstOrders != null)
    {
        @if (Model._lstOrders.Count() != 0)
        {
            <h4>Orders</h4>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderID)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.CatalogID)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Total)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PaymentType)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.TotalDue)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model._lstOrders)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderID)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CatalogID)
                            </td>
                            <td>
                                $@Html.DisplayFor(modelItem => item.Total)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentType)
                            </td>

                            <td>
                                $@Html.DisplayFor(modelItem => item.TotalDue)
                            </td>

                            <td>
                                <div>
                                    <a asp-controller="Order" asp-action="Details" asp-route-OrderID="@item.OrderID">Details</a>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <p>
                <label>> No Matching Orders</label>
            </p>
        }

    }
<div>
    <a asp-controller="Employee" asp-action="CustomerDetails" asp-route-CustomerID="@TempData["CustomerID"]">Return to Customer Details</a>
</div>
    <div>
        <a asp-action="Index">Return to My Account</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

