
@model IEnumerable<team8.Models.Payment>




@{
    ViewData["Title"] = "Payment";
}

<h2>Payment</h2>
<h4>Credit Cards on file. </h4>

<div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CardID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillingAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillingCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillingSTate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillingZipcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CardNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CardType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CardName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CardExpDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CardCVV)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillingAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillingCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillingSTate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillingZipcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardExpDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardCVV)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-CardID="@item.CardID" asp-route-CustomerID="@item.CustomerID">Edit</a>
                        <a asp-action="Details" asp-route-CardID="@item.CardID">Details</a>
                        <a asp-action="Delete" asp-route-CardID="@item.CardID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    <a asp-controller="Customer" asp-action="Index" asp-route-CustomerID="@Model.First().CustomerID">Back to My Account</a>
</div>
<div>
    <a asp-controller="Payment" asp-action="Create" asp-route-CustomerID="@Model.First().CustomerID">Add New Payment Method</a>
</div>
 @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
