@model IEnumerable<team8.Models.OpsManager>

@{
    ViewData["Title"] = "Ops";
}

<h2>All Operations Managers</h2>
<h4>Operation Managers</h4>
<p>
    <a asp-action="opsCreate">Create New Operations Manager</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OpsManagerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpsManagerFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpsManagerLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpsManagerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpsManagerCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpsManagerState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpsManagerZipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpsManagerPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpsManagerUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpsManagerPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OpsManagerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpsManagerFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpsManagerLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpsManagerAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpsManagerCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpsManagerState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpsManagerZipcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpsManagerPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpsManagerUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpsManagerPassword)
                </td>
                <td>
                <a asp-action="opsDetails" asp-route-OpsManagerID="@item.OpsManagerID">Details</a>

                </td>
            </tr>
        }

    </tbody>
</table>
<a asp-controller="OpsManager" asp-action="Index">Return to My Account</a>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
