@model IEnumerable<team8.Models.Order>




@{
    ViewData["Title"] = "Orders";
}

<h2>Orders</h2>
<h4>All Orders </h4>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CatalogID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Media)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CardID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalDue)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CatalogID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Media)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalDue)
                    </td>

                    <td>
                        <a asp-controller="OpsManager" asp-action="orderDetails" asp-route-OrderID="@item.OrderID">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    <a asp-controller="OpsManager" asp-action="OrderByStatus">Return to Orders</a>
</div>
<div>
    <a asp-controller="OpsManager" asp-action="Index">Return to My Account</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
