@model team8.Models.Payment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<h2>Details</h2>
<div>
    <hr />
    <h4>Card Details</h4>
    <div class="col-md-4">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.CardID)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CardID)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.CardType)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CardType)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.CardName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CardName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.CardNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CardNumber)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.CardExpDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CardExpDate)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.CardCVV)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CardCVV)
                    </td>
                </tr>
            </tbody>
        </table>

        <h4>Billing Address</h4>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.BillingAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.BillingAddress)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.BillingCity)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.BillingCity)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.BillingSTate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.BillingSTate)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.BillingZipcode)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.BillingZipcode)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>

    <a asp-controller="OpsManager" asp-action="cPayments" asp-route-CustomerID="@Model.CustomerID">Back to Payment Information</a>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}