@model team8.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h2>Order Details</h2>
<div class="row">
    <div class="col">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4>@Html.DisplayFor(model => model.catalog.ItemName)</h4>
                        <img src="@Html.DisplayFor(model => model.catalog.ItemPhoto)" height="200" width="200" />
                    </div>
                    <div class="col-md-4">
                        <h4>Total</h4>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.catalog.ItemPrice)
                                    </td>
                                    <td>
                                        $@Html.DisplayFor(model => model.catalog.ItemPrice)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Quantity)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Total)
                                    </td>
                                    <td>
                                        $@Html.DisplayFor(model => model.Total)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.PaymentType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.PaymentType)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.TotalDue)
                                    </td>
                                    <td>
                                        $@Html.DisplayFor(model => model.TotalDue)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.OrderStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.OrderStatus)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr />

            <div class="container">
                <div class="row">
                    <div class="col-md-7">

                        <h4>Description</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.OrderID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.OrderID)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.JobType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.JobType)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Media)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Media)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.Content)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Content)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr />

                        <h4>Payment Method</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.payment.CardType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.payment.CardType)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.payment.CardName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.payment.CardName)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.payment.CardNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.payment.CardNumber)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.payment.CardExpDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.payment.CardExpDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.payment.CardCVV)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.payment.CardCVV)
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <h4>Billing Address</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.payment.BillingAddress)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.payment.BillingAddress)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.payment.BillingCity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.payment.BillingCity)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.payment.BillingSTate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.payment.BillingSTate)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.payment.BillingZipcode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.payment.BillingZipcode)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h4>Shipping Address</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.customer.CustomerAddress)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.customer.CustomerAddress)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.customer.CustomerCity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.customer.CustomerCity)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.customer.CustomerState)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.customer.CustomerState)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.customer.CustomerZipcode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.customer.CustomerZipcode)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr />
        </form>
        <div>
            <a asp-controller="OpsManager" asp-action="orderEdit" asp-route-OrderID="@Model.OrderID">Edit</a>
        </div>
        <div>
            <a asp-controller="OpsManager" asp-action="cOrders" asp-route-CustomerID="@Model.CustomerID">Back to List</a>
        </div>
        <div>
            <a asp-controller="OpsManager" asp-action="Index">Return to My Account</a>
        </div>
    </div>
</div>
<div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


